<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<html>
<head>
    <title>
        test
    </title>
</head>
<body>
<form name="myform" action="/logindb" method="POST">
    <div align="center">
        <br><br>
        <input type="text" size="25" placeholder="login your email here!" name='email'>
        <input type="text" size="25" placeholder="login your password here!" name='password'>
        <br><input type="submit" value="Send me your name!"><br>
    </div>
</form>
</body>
</html>
</body>
</html>