<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<html>
<head>
    <title>
        test
    </title>
</head>
<body>
<form name="myform" action="/login" method="POST">
    <div>
        <br>
        <p>Login Failed</p>
        <br>
        <input type="text" size="25" placeholder="login your email here!" name='email'> <br><br>
        <input type="text" size="25" placeholder="login your password here!" name='password'> <br><br>
        <br><input type="submit" value="Submit"><br>
    </div>
</form>
<br><br>
<form action = "/" method="POST">
    <input type ="submit" value="Back">
</form>
</body>
</html>
</body>
</html>